<p id="notice"><%= notice %></p>

<div class="gridster">
  <ul>

  </ul>
</div>

<div class="overlay_fix"></div>

<script>
  $(function () {
    configureGridsterUserDashboard();
    $(".gridster").on("click", ".window_delete", deleteWindow);
    loadDashboardWindows();
  });
</script>
