<p id="notice"><%= notice %></p>

<% provide(:title, "Log in") %>
<div class="container">
  <div class="d-flex flex-row justify-content-center row">
    <!--<p class="border-text"> or </p>-->
    <div class="col-sm-6 login-box">
      <h2>Log in</h2>

      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: 'btn login-button' %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", new_user_path, class: "sign-up" %></p>
    </div>

    <div class="col-sm-6 social-box">
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn social-button g-button" %>
    </div>
  </div>
</div>
