<h1>SampaDash Options</h1>

<hr class="hr-main">

<div>
  <h3> Your current Dashboard: </h3>
  <%= @current_dash.description %>
</div>

<hr>

<div>
  <h3> Change Dashboards </h3>
  Select a dashboard:

  <select id="dashboard_select">
    <% @dashboards.each do |d| %>

      <option value="<%= d.id %>"><%= d.description %></option>

    <% end %>
  </select>
  <br>
  <a href="#" id="select_dashboard_btn" class="btn btn-primary"> change to this dashboard </a>

</div>

<hr>

<div>
  <h3> Create new Dashboard </h3>
  Name: <br>
  <input type="text" id="dashboard_name"> <br>
  <a href="#" id="ok_dashboard_icon" class="btn btn-primary">Create Dashboard</a>
</div>

<hr>

<div>
  <h3> Delete selected Dashboard </h3>

  Select a dashboard:

  <select id="delete_select">
    <% @dashboards.each do |d| %>

      <option value="<%= d.id %>"><%= d.description %></option>

    <% end %>
  </select>

  <a href="/" id="delete_dashboard_icon" class="btn btn-primary">
    Delete Dashboard
  </a>
</div>

<script>
  $(function () {

    $("#delete_dashboard_icon").click(deleteDashboard);
    $("#ok_dashboard_icon").click(okDashboardButton);
    $("#select_dashboard_btn").click(setCurrentDash);

  });
</script>
