<p id="notice"><%= notice %></p>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <header>Smart Cities Initiatives
        <div class="html_window_delete">x</div>
      </header>
      <iframe src="http://35.196.184.209:3000/?" scrolling="no"></iframe>
    </li>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="2">
      <header>Heatmap Temperature
        <div class="html_window_delete">x</div>
      </header>
      <iframe src="http://159.203.108.17/app/kibana#/visualize/edit/AWANEVWEkdTaAc4IE-ea?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15d%2Cmode%3Arelative%2Cto%3Anow))&" scrolling="no"></iframe>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="2">
      <header>Pinheiros Avenue - AVERAGE SPEED
        <div class="html_window_delete">x</div>
      </header>
      <iframe src="http://159.203.108.17/app/kibana#/visualize/edit/AWAI1ad0kdTaAc4IE74K?embed=true&_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A470'%2Cdisplay%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-5y%2Cmode%3Aquick%2Cto%3Anow))&" scrolling="no"></iframe>
    </li>
  </ul>
</div>

<script>
  csrfToken = "<%= form_authenticity_token.to_s %>"

  $(function () {

    configureGridsterDefaultDashboard();

    $(".html_window_delete").click(deleteHTMLWindow);
  });

</script>
