<%= form_with(model: window, local: true, class: 'form') do |form| %>
  <% if window.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(window.errors.count, "error") %> prohibited this window from being saved:</h2>

      <ul>
        <% window.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% eval(current_app.parameters).each do |key, value| %>
    <div class="field">
      <%= form.label key %>

      <% if value.class == Array %>
        <%= form.send(value[0], key, value[1], {}, {class: 'form-control'}) %>
      <% else %>
        <%= form.send(value, key, {class: 'form-control'}) %>
      <% end %>
    </div>
  <% end %>

  <%= form.hidden_field :col, value: @window.col %>
  <%= form.hidden_field :row, value: @window.row %>
  <%= form.hidden_field :size_x, value: @window.size_x %>
  <%= form.hidden_field :size_y, value: @window.size_y %>
  <%= form.hidden_field :app_id, value: @window.app_id %>
  <%= form.hidden_field :app_version, value: current_app.version %>
  <%= form.hidden_field :user_dashboard_id, value: @window.user_dashboard_id %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
