<p id="notice"><%= notice %></p>

<h1>Editing Window</h1>

<%= render partial: 'apps/app', locals: {app: current_app} %>

<%= render 'form', window: @window %>

<%= link_to 'Show', @window %> |
<%= link_to 'Back', windows_path %>
