<p id="notice"><%= notice %></p>

<h1>Windows</h1>

<table>
  <thead>
  <tr>
    <th>Col</th>
    <th>Row</th>
    <th>Size x</th>
    <th>Size y</th>
    <th>Query url</th>
  </tr>
  </thead>

  <tbody>
  <% @windows.each do |window| %>
    <tr>
      <td><%= window.col %></td>
      <td><%= window.row %></td>
      <td><%= window.size_x %></td>
      <td><%= window.size_y %></td>
      <td><%= window.query_url %></td>
      <td><%= link_to 'Show', window %></td>
      <td><%= link_to 'Edit', edit_window_path(window) %></td>
      <td><%= link_to 'Destroy', window, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Window', new_window_path %>
