<%= render partial: 'apps/app', locals: {app: current_app} %>
<%= link_to 'Back', controller: 'apps', action: 'index', user_dashboard_id: current_dashboard.id %>

<hr class="hr-main">

<div class="content">

  <%= render 'form', window: @window %>
</div>
