<p id="notice"><%= notice %></p>

<div class="gridster">
  <ul>

  </ul>
</div>

<div class="overlay_fix"></div>

<script>
  $(function () {
    configureGridsterDefaultDashboard();
    $(".gridster").on("click", ".window_delete", deleteWindow);
    $.get("/load-last-from-sampadash", showNotifications);
  });

  function showNotifications(notifications) {
    for (var n in notifications)
      addNotificationWindow(notifications[n]);
  }
</script>
