<p id="notice"><%= notice %></p>

<div class="gridster">
  <ul>

  </ul>
</div>

<div class="overlay_fix"></div>

<script>

  $(function () {
    configureGridsterDefaultDashboard();
    $(".gridster").on("click", ".window_delete", deleteWindow);
    $.get("/load-last-notifications", showNotifications);
  });

  function showNotifications(notifications) {
    for (var n in notifications)
      for (var a in notifications[n].notification_apps) {
        var not = notifications[n];
        var not_app = not.notification_apps[a];
        addNotificationWindow({
          not_app: not_app.id,
          title: not.title,
          url: not_app.query_url
        });
      }
  }
</script>
