<h1>Send Notification</h1>

<%= form_tag "/push-notification-send", method: "post" do %>
  <p>
    <%= label_tag :title, "Title" %> <br>
    <%= text_field_tag :title, "", class: "form-control" %>
  </p>

  <p>
    <%= label_tag :message, "Message" %> <br>
    <%= text_field_tag :message, "", class: "form-control" %>
  </p>

  <p>
    <%= label_tag :url, "URL" %> <br>
    <%= text_field_tag :url, "", class: "form-control" %>
  </p>

  <p><%= submit_tag "Send", class: "btn btn-primary" %></p>
<% end %>
