<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Invite a developer</h2>

    <%= form_for(@user, :url => invite_path, :html => {:method => :post}) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, :required => true, class: "form-control" %>
      </div>
      <div class="actions v-space">
        <%= f.submit 'Complete sign up', class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>
</div>
