<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Continue register</h2>

    <%= form_for(@user, :url => users_invite_new_path, :html => {:method => :post}) do |f| %>
      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :required => true, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, :required => true, :readonly => true, :value => @id.email, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :token %><br/>
        <%= f.text_field :token, :required => true, :readonly => true, :value => @id.token, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "off", :required => true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, class: "form-control" %>
      </div>
      <div class="actions v-space">
        <%= f.submit "Complete sign up", class: "btn btn-info btn-block" %>
      </div>
    <% end %>
  </div>
</div>
