<% provide(:title, "Log in") %>
<div class="container">
  <div class="d-flex flex-row justify-content-center row">
    <!--<p class="border-text"> or </p>-->
    <div class="col-sm-6 login-box">
      <h2>Sign up</h2>

      <%= render 'form', user: @user %>

      <p>Already an user? <%= link_to "Sign in here!", login_path, class: "sign-up" %></p>
    </div>

    <div class="col-sm-6 social-box">
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn social-button g-button" %>
    </div>
  </div>
</div>
