<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Para concluir o registro de desenvolvedor na plataforma
  SAMPA dashboard clique no link abaixo!</h1>
<h1> <%= @link %></h1>
</body>
</html>
