<%= form_with(model: dev_team, local: true, class: 'form') do |form| %>
  <% if dev_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dev_team.errors.count, "error") %> prohibited this dev_team from being saved:</h2>

      <ul>
        <% dev_team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, id: :dev_team_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, id: :dev_team_description, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary btn-sm' %>

<% end %>
