<%= form_with(url: invite_dev_to_team_path(id: @dev_team.id), class: 'form-inline') do |form| %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'e.g. name@domain.com', required: true, id: :dev_team_email, class: 'form-control' %>
  </div>

  <%= form.submit 'Invite to this Team', class: 'btn btn-primary btn-sm' %>
<% end %>
