<p id="notice"><%= notice %></p>

<h1>Development Teams</h1>
<hr class="hr-main">

<div class="content">

  <table class="table table-hover">
    <thead>
    <tr>
      <th colspan="2" class="table-header">
        Development teams you participate:
      </th>
      <th class="btn-row">
        <%= link_to 'New Dev Team', new_dev_team_path, class: 'btn btn-primary btn-sm' %>
      </th>
    </tr>
    <tr>
      <th>Team Name</th>
      <th colspan="2">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @dev_teams.each do |dev_team| %>
        <td>
          <h4><%= link_to dev_team.name, dev_team %></h4>
        </td>

        <td>
          <%= dev_team.description %>
        </td>

        <td class="btn-row">
          <%= link_to edit_dev_team_path(dev_team), {class: 'button edit', "data-tooltip": "Edit"} do %>
            <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
          <% end %>

          <%= link_to dev_team, {method: :delete, data: {confirm: 'Are you sure?'}, class: 'button delete', "data-tooltip": "Delete"} do %>
            <i class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
