<p id="notice"><%= notice %></p>

<h1 class="dev-name">
  <%= @dev_team.name %>
</h1>

<p><%= @dev_team.description %></p>

<%= link_to 'Edit', edit_dev_team_path(@dev_team) %> |
<%= link_to 'Back', dev_teams_path %>

<hr class="hr-main">

<div class="content">

  <table class="table table-hover">
    <thead>
    <tr>
      <th colspan="2" class="table-header">
        Development Team:
      </th>
      <th class="btn-row">
        <%= render partial: 'invite' %>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th colspan="2">Email</th>
    </tr>
    </thead>
    <tbody>
    <% @dev_team.users.each do |user| %>
      <tr>
        <td>
          <h4><%= user.name %></h4>
        </td>

        <td>
          <h4>
            <small><i><%= user.email %></i></small>
          </h4>
        </td>

        <td class="btn-row">
          <%= link_to exclude_dev_from_team_path(id: @dev_team.id, user_id: user.id), {class: 'button delete', "data-tooltip": "Delete"} do %>
            <i class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table table-hover">
    <thead>
    <tr>
      <th colspan="3" class="table-header">
        Aplications:
      </th>
      <th class="btn-row">
        <%= link_to 'Register a new App', new_app_path(dev_team_id: @dev_team.id), class: 'btn btn-primary' %>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th colspan="2">Description</th>
    </tr>
    </thead>
    <tbody>
    <% @dev_team.apps.each do |app| %>
      <tr>
        <td>
          <h4><%= app.name %></h4>
        </td>
        <td>
          <h4>
            <small><i><%= app.version %></i></small>
          </h4>
        </td>

        <td><%= app.description %></td>
        <td class="btn-row">
          <%= link_to edit_app_path(app), {class: 'button edit', "data-tooltip": "Edit"} do %>
            <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
          <% end %>
          <%= link_to app, {method: :delete, data: {confirm: 'Are you sure?'}, class: 'button delete', "data-tooltip": "Delete"} do %>
            <i class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
