<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
        <% app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, placeholder: 'Add your App name. Example: Youtube App', id: :app_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :version, class: 'form-label' %>
    <%= form.text_field :version, placeholder: 'Add a version of your App. Example: 1.3', id: :app_version, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, placeholder: 'Add some description about your App.', id: :app_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :base_url, class: 'form-label' %>
    <%= form.text_field :base_url, placeholder: 'Add url for query. Example: http://get-youtube.herokuapp.com', id: :app_base_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :grid_size, class: 'form-label' %>
    <%= form.text_field :grid_size, placeholder: 'Add an initial size of your App in Gridsize. Example: 3x2', id: :app_grid_size, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :parameters, class: 'form-label' %>
    <%= form.text_field :parameters, placeholder: 'Add an Hash with key as key params and value as form field. Example: { video_url: "text_field" } will create a text field form with video_url as params.', id: :app_parameters, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary btn-sm' %>

<% end %>
