<div class="index">
  <p id="notice"><%= notice %></p>

  <h1>Choose an Application:</h1>

  <hr class="hr-main">

  <div class="content">

    <ul>
      <% @apps.each do |app| %>
        <%= link_to controller: 'windows', action: 'new', app_id: app.id, user_dashboard_id: current_dashboard.id do %>
          <li>
            <h4> <%= app.name %>
              <small><i><%= app.version %></i></small>
            </h4>
            <p><b><%= app.dev_team.name %></b></p>
            <p><%= app.description %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
