<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app.version %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Base url:</strong>
  <%= @app.base_url %>
</p>

<p>
  <strong>Grid size:</strong>
  <%= @app.grid_size %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @app.parameters %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', dev_team_path(@app.dev_team_id) %>
