/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

hr {
  display: block;
  height: 1px;
  border: 0;
  border-color: #d3d4d6;
  margin: 1em 0;
  padding: 0;
  background-color: #d3d4d6;
  color: #d3d4d6;
  text-align: right;
}

.hr-main:after {
  content: "SAMPADASH";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #e4e7ea;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  width: 60px;
  bottom: 220%;
  left: 50%;
  margin-left: -40px; /* Use half of the width (120/2 = 60), to center the tooltip */

  margin-bottom: 5px;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 220%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

h1 {
  margin-top: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  background: transparent;
  text-decoration: none;
}

.btn {
  background-color: #428bca;
  color: #fff;
  border-color: #4f72d9;
}

.btn:hover {
  background-color: #4f72d9;
  color: #fff;
  border-color: #4f72d9;
}

.content {
  overflow-x: auto;
}

.navbar-default {
  position: fixed;
  background-color: #f6f6f6;
  border-color: #d3d4d6;
  font-size: 25px;
  transition: 0.5s;

  .navbar-brand {
    position: relative;
    color: #1c1c1c;
  }

  .nav.navbar-nav li a {
    color: #000000;
  }

  .nav.navbar-nav a:hover {
    color: #707f83;
  }

  .active a {
    background-color: rgba(#000000, 0) !important;
    color: #707f83 !important;
  }

  .navbar .nav, .navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }

  @media (max-width: 767px) {
    .collapsing, .in {
      background-color: rgba(#f6f6f6, 0.90);
      position: fixed;
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
  }
}

body {
  background-color: #e4e7ea;
  padding-top: 65px;
}

#main {
  transition: margin-left .5s;
  padding: 0 20px 0 20px;
}

.nav-side-menu {
  overflow-x: hidden;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  color: #e1ffff;
  padding-top: 50px;
  transition: 0.5s;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #1caf9a;
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover + input {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.nav-side-menu a li {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu a li:hover {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu a:link {
  text-decoration: none;
}

.nav-side-menu li i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #1caf9a;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu select {
  background-color: #2e353d;
}

.nav-side-menu li input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 96%;
  margin: 0 2% 0 2%;
}

.erb-link {
  color: #ffffff;
}

.full-alert {
  display: none;
  z-index: 100;
  width: 96%;
  margin: 0 2% 0 2%;
}

#notification_alert {
  color: #d9534f;
  display: none;
}

/*
@media (max-width: 767px) {
  #main {
    margin-left: 0 !important;
  }

  .nav-side-menu {
    position: relative;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
}*/

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
