// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin: 0 !important;
}

iframe {
  overflow: hidden !important;
}

.index {
  position: relative;
  padding-right: 2%;
}

.index .newapp-btn {
  position: absolute;
  margin-right: 2%;
  top: 0;
  right: 0;
  background-color: #1d2939;
  color: #f6f6f6;
  border: solid 1px #2e353d;
}

.index .newapp-btn:hover {
  background-color: #161e2a;
  color: #f6f6f6;
}

.index ul {
  padding-left: 0px;
  list-style-type: none;
}

.index li {
  color: #333;
  background-color: #fff;
  border: 1px solid #d3d4d6;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(176, 176, 176, 0.5);
  -moz-box-shadow: 1px 1px 5px 1px rgba(176, 176, 176, 0.5);
  box-shadow: 1px 1px 5px 1px rgba(176, 176, 176, 0.5);
}

.index li:hover {
  background-color: #f6f6f6;
}

.index a:link {
  text-decoration: none;
}
