/*
COLOUR PALLETE:
Saturadas:
#e4e7ea
#1caf9a
#428bca
#d9534f
#1d2939

Para detalhes:
#d19b3d
*/

#progress {
    display: none;
}

.gridster {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    float: right;
    overflow: auto;
}

.gridster ul {
    list-style-type: none;
}

/* box */
.gridster .gs-w {
    padding: 3px;
    box-sizing: border-box;
    background: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    padding: 0;
}

/* title */
.gridster .gs-w header {
    color: #fff;
    line-height: normal;
    cursor: move;
    position: relative;
    z-index: 3;
    width: 100%;
    background: #1d2939;
    /*-webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;*/
    height: 23px;
    overflow: hidden;
    padding: 3px;
}

/*.gs-w:hover header {
  height: 23px;
  padding: 3px;
}*/

.window_delete, .html_window_delete {
    background: rgba(#000000, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
}

.gridster .gs-w iframe {
    border: 0;
    /*position: absolute;*/
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    top: 0;
}

/* moving */
.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: lightblue;
}

.overlay_fix {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    opacity: 0;
    display: none;
}
