// Place all the styles related to the dev_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #1d2939;
  width: 500px;
}

thead tr:first-child {
  background: #1d2939;
  color: #fff;
  border: none;
  valign: baseline;
}

.table-header {
  font-size: 20px;
  font-weight: 300;
}

th:first-child,
td:first-child {
  padding: 5px 15px 5px 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

.btn-row {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #1caf9a;
  background-color: transparent;
}

.delete:hover {
  color: #d9534f;
  background-color: transparent;
}

.table-btn {
  color: #fff;
  background: #1d2939;
  border: 2px solid #fff;
  padding: 2px 2px 2px 2px;
}

.dev-name {
  align-items: flex-end;
}
