// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: inherit;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
}

.login-box {
  padding: 5px 15px 15px 15px !important;
  border-right: solid 2px #d3d4d6;
}

.login-box h2 {
  padding: 5px 5px 15px 5px;
  position: relative;
  width: 100%;
  margin: 0;
}

.login-box .login-button {
  margin-top: 10px;
  background-color: #1d2939;
  color: #f6f6f6;
  border: solid 1px #2e353d;
  width: 100%;
}

.login-box .login-button:hover {
  background-color: #161e2a;
  color: #f6f6f6;
  font-weight: bold;
}

.login-box .form-control {
  border: solid 1px #d3d4d6;
  border-radius: 0;
  margin-bottom: 5px;
  background-color: #f6f6f6;
}

.login-box .sign-up {
  color: #1caf9a;
}

.login-box .sign-up:hover {
  background-color: inherit;
  font-weight: bold;
}

.social-box {
  display: inline-block;
}

.social-box h2 {
  vertical-align: top;
}

.social-box .social-button {
  color: #fff;
  margin: 5px 0 5px 0;
  width: 100%;
  display: block;
}

.social-box .g-button {
  background-color: #d9534f;
  border: solid 1px #c64c48;
}

.social-box .g-button:hover {
  background-color: #c64c48;
  border: solid 1px #b24441;
  color: #fff;
  font-weight: bold;
}

.social-box .f-button {
  background-color: #428bca;
  border: solid 1px #3c7fb8;
}

.social-box .f-button:hover {
  background-color: #3c7fb8;
  border: solid 1px #3772a6;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .row {
    display: block;
    padding: 0;
    margin-top: 0;
  }

  .row > [class*='col-'] {
    display: block;
  }

  .login-box {
    border-right: none;
    border-bottom: solid 2px #d3d4d6;
  }

  .social-box {
    margin-top: 20px;
  }

  .btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
