<div class="index">
  <h1>Notification Request Popup Windows</h1>
  <hr class="hr-main">

  <h2><i><%= @token.title %></i></h2>

  <%= form_tag "/new-request-app", method: 'get', class: "form-inline" do %>
    <p>
      <br>
      <select name="app_id" class="form-control">
        <% for a in @apps %>
          <option value="<%= a.id %>"><%= a.name %></option>
        <% end %>
      </select>
      <input type="hidden" name="token_id" value="<%= @token.id %>">
      <input type="submit" value="New Window" class="btn btn-primary">
    </p>
  <% end %>

  <ul>
    <% @notification_apps.each do |a| %>
      <li>
        <h4>
          <%= a.app.name %>
          <small><%= a.query_url %></small>
        </h4>
        <p>
          <%= link_to 'Delete', controller: 'notification_request', action: 'delete_request_app', not_app_id: a.id %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
