<h1>New Notification Request</h1>

<hr class="hr-main">

<div class="content">
  <%= form_tag "/notification-requests", method: "post" do %>

    <p>
      <%= label_tag :request_title, "Title" %>
      <%= text_field :request, :title, class: 'form-control' %>
    </p>

    <p><%= label_tag :request_location, "Location" %></p>

    <div id="select_location_map"
         style="border: 1px solid gray; width:40%; margin-right:20px; float:left"></div>
    <div class="" style="width:40%;float:left">
      <%= label_tag :request_latitude, "Latitude" %>
      <%= text_field :request, :latitude, class: 'form-control' %>
      <%= label_tag :request_longitude, "Longitude" %>
      <%= text_field :request, :longitude, class: 'form-control' %>
    </div>
    <div style="clear:both; margin-bottom:20px;"></div>

    <p>
      <%= check_box :request, :email, {}, "S", "N" %>
      <%= label_tag :request_email, "Receive by e-mail" %>
      <%= check_box :request, :dashboard, {}, "S", "N" %>
      <%= label_tag :request_dashboard, "Show in Dashboard" %>
    </p>

    <p>
      <a href="#" id="new_event_btn" class="btn">
        <i class="fa fa-plus" aria-hidden="true"></i> New Event
      </a>
    </p>

    <div id="events">

    </div>

    <p><br><input type="submit" value="Next >>" class="btn btn-primary"></p>

  <% end %>

  <div id="event_sample" style="display: none">
    <div id="event_id" class="form-inline">
      <div class="form-group">
        <select name="capabilities[]" class="form-control capabilities_select" data-id="data_id">
          <option value="">(select)</option>
          <option value="day">Day</option>
          <option value="temperature">Temperature</option>
          <option value="people_density">People Density</option>
        </select>
      </div>
      <div class="form-group">
        <select name="comparators[]" class="form-control comparators">
        </select>
      </div>
      <div class="form-group">
        <span class="value_control"></span>
        <span class="value_unit"></span>
      </div>
      <div class="form-group">
        <a href="#" class="btn delete_event_btn" data-id="data_id_2">
          <i class="fa fa-minus" aria-hidden="true"></i> Delete Event
        </a>
      </div>
    </div>
  </div>

</div>

<script>
  var nextEvent = 0;
  var comparatorValues = {
    "=": "==",
    "&lt;": "<",
    "&gt;": ">",
    "&lt;=": "<=",
    "&gt;=": ">=",
    "&ne;": "!="
  };

  // TODO quais as capabilities?
  var valueControls = {

    "": {control: "", unit: ""},

    day: {
      control: '<select name="capability_values[]" class="form-control">' +
      '  <option value="sunday">Sunday</option>' +
      '  <option value="monday">Monday</option>' +
      '  <option value="tuesday">Tuesday</option>' +
      '  <option value="wednesday">Wednesday</option>' +
      '  <option value="thurstay">Thursday</option>' +
      '  <option value="friday">Friday</option>' +
      '  <option value="saturday">Saturday</option>' +
      '</select>',
      comparators: ["=", "&ne;"],
      unit: ''
    },

    temperature: {
      control: '<input type="text" name="capability_values[]" class="form-control">',
      comparators: ["=", "&lt;", "&gt;", "&lt;=", "&gt;=", "&ne;"],
      unit: '&deg;F'
    },

    people_density: {
      control: '<input type="text" name="capability_values[]" class="form-control">',
      comparators: ["=", "&lt;", "&gt;", "&lt;=", "&gt;=", "&ne;"],
      unit: 'persons/m²'
    },

  }

  $(function () {
    $("#new_event_btn").click(newEvent);
    $("#events")
      .on("click", ".delete_event_btn", deleteEvent)
      .on("change", ".capabilities_select", capabilitySelected);
    new SampaMap('select_location_map', function (lat, lon) {
      $('#request_latitude').val(lat);
      $('#request_longitude').val(lon);
    });
  });

  function newEvent(event) {
    event.preventDefault();
    var html = $("#event_sample")
      .html()
      .replace("event_id", "event_" + nextEvent)
      .replace("capabilities[]", "capabilities[" + nextEvent + "]")
      .replace("comparators[]", "comparators[" + nextEvent + "]")
      .replace("data_id", nextEvent)
      .replace("data_id_2", nextEvent);
    $("#events").append(html);
    nextEvent++;
  }

  function deleteEvent(event) {
    event.preventDefault();
    var id = event.currentTarget.dataset.id;
    $("#event_" + id).remove();
  }

  function capabilitySelected(event) {
    var combo = event.currentTarget;
    var control = valueControls[combo.value].control.replace(
      "capability_values[]", "capability_values[" + combo.dataset.id + "]");

    var compOptions = '';
    for (var c in valueControls[combo.value].comparators) {
      var comp = valueControls[combo.value].comparators[c];
      compOptions += '<option value="' + comparatorValues[comp] + '">' + comp + '</option>';
    }

    $("#event_" + combo.dataset.id + " .value_control").html(control);
    $("#event_" + combo.dataset.id + " .value_unit").html(valueControls[combo.value].unit);
    $("#event_" + combo.dataset.id + " .comparators").html(compOptions);
  }
</script>
