<h1>Configure window parameters for notification</h1>
<hr class="hr-main">

<%= form_tag "/request-app", method: "post" do %>

  <%= render partial: 'apps/app', locals: {app: current_app} %>

  <% eval(current_app.parameters).each do |key, value| %>
    <div class="field">
      <%= label :params, key %> <br>

      <% if value.class == Array %>
        <select name="params[<%= key %>]">
          <% for option in value[1] %>
            <option value="<%= option[1] %>"><%= option[0] %></option>
          <% end %>
        </select>
      <% else %>
        <%= text_field :params, key %>
      <% end %>
    </div>
  <% end %>

  <input type="hidden" name="token_id" value="<%= params[:token_id] %>">
  <input type="hidden" name="app_id" value="<%= params[:app_id] %>">

  <p><%= submit_tag "Save Window", class: "btn btn-primary" %></p>

<% end %>
