<div class="index">
  <h1>My Notification Requests</h1>

  <hr class="hr-main">

  <div class="content">
    <p>
      <a href="/new-notification-request" id="new_event_btn" class="btn">
        <i class="fa fa-plus" aria-hidden="true"></i> New Notification
      </a>
    </p>

    <ul>
      <% @tokens.each do |t| %>
        <li>
          <h4>
            <%= link_to controller: 'notification_request', action: 'edit_request', token_id: t.id do %>
              <%= t.title %>
            <% end %>
          </h4>
          <p>
            <small>
              <i>
                <%=
                  case t.state
                    when NotificationToken::RequestedState
                      "Waiting for notification"
                    when NotificationToken::SendState
                      "Notification sent"
                    when NotificationToken::SeenState
                      "Already seen"
                  end
                %>
              </i>
            </small>
            <%= link_to 'Delete', controller: 'notification_request', action: 'delete_request', token_id: t.id, data: {confirm: 'Are you sure?'} %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
