<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        SAMPADASH
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <% if current_user.usertype == 1 %>
            <li>
              <%= link_to 'Invite Developer', controller: 'users', action: 'develop_invite' %>
            </li>

            <li>
              <%= link_to 'Your Development Teams', dev_teams_path(user_id: current_user.id) %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Sign out', signout_path %>
          </li>

        <% else %>
          <li>
            <%= link_to 'Sign in', controller: 'sessions', action: 'new' %>
          </li>

          <!--<li>
              <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
            </li>-->

          <li>
            <%= link_to "Sign up", controller: 'users', action: 'new' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
