<div id="nav-side-menu" class="nav-side-menu">
  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <li>
          <i class="fa fa-arrows-alt fa-lg" aria-hidden="true"></i> Fullscreen
        </li>
      </a>

      <a href="/">
        <li>
          <i class="fa fa-dashboard fa-lg"></i>
          <% if current_dashboard %>
            <%= current_dashboard.description %> Dash
          <% else %>
            Unexpected Error - controllers should to set current_dashboard appropriately
          <% end %>
        </li>
      </a>

      <li data-toggle="collapse" data-target="#side-menu-app" class="collapsed">
        <i class="fa fa-bar-chart fa-lg"></i> Application <span class="arrow"></span>
      </li>

      <% if current_dashboard %>
        <ul class="sub-menu collapse" id="side-menu-app">
          <%= link_to controller: 'apps', action: 'index',
                      user_dashboard_id: current_dashboard.id,
                      id: 'new_window_link' do %>
            <li id="new_window_link">
              New window
            </li>
          <% end %>
        </ul>
      <% end %>


      <li data-toggle="collapse" data-target="#side-menu-notification" class="collapsed"
          id="notifications_link">
        <i class="fa fa-bell fa-lg" id="notification_normal"></i>
        <i class="fa fa-exclamation-circle fa-lg" id="notification_alert"></i>
        Notification <span class="arrow"></span>
      </li>
      <ul class="sub-menu collapse" id="side-menu-notification">
        <a href="/new-notification-request">
          <li>New Notification Request</li>
        </a>
        <a href="/notification-requests">
          <li>My Notification Requests</li>
        </a>
        <a href="/last-notifications" id="lost_notifications_link">
          <li>Last Notifications</li>
        </a>
        <a href="/last-from-sampadash" id="last_24h_link">
          <li>Last 24h from SampaDash</li>
        </a>
      </ul>

      <a href="/dash_settings">
        <li>
          <i class="fa fa-wrench fa-lg"></i> SampaDash Options
        </li>
      </a>

    </ul>

    </ul>
  </div>
</div>

<div id="fullalert" class="alert alert-info full-alert">
  Press <strong>esc</strong> to exit fullscreen
</div>

<script>

  function openNav() {
    document.getElementById("nav-side-menu").style.marginLeft = "0";
    document.getElementById("main").style.marginLeft = "200px";
    document.getElementById("navbar").style.marginTop = "0";
    document.getElementsByTagName("BODY")[0].style.paddingTop = "65px";
  }

  function closeNav() {
    document.getElementById("nav-side-menu").style.marginLeft = "-200px";
    document.getElementById("main").style.marginLeft = "0";
    document.getElementById("navbar").style.marginTop = "-50px";
    document.getElementsByTagName("BODY")[0].style.paddingTop = "15px";

    var el = document.documentElement,
      rfs = // for newer Webkit and Firefox
        el.requestFullScreen
        || el.webkitRequestFullScreen
        || el.mozRequestFullScreen
        || el.msRequestFullScreen
    ;
    if (typeof rfs != "undefined" && rfs) {
      rfs.call(el);
    } else if (typeof window.ActiveXObject != "undefined") {
      // for Internet Explorer
      var wscript = new ActiveXObject("WScript.Shell");
      if (wscript != null) {
        wscript.SendKeys("{F11}");
      }
    }

    document.getElementById("fullalert").style.display = "block";
    setTimeout(function () {
      document.getElementById("fullalert").style.display = "none";
    }, 3000);
  }

  document.addEventListener('fullscreenchange', exitHandler);
  document.addEventListener('webkitfullscreenchange', exitHandler);
  document.addEventListener('mozfullscreenchange', exitHandler);
  document.addEventListener('MSFullscreenChange', exitHandler);

  function exitHandler() {
    if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
      openNav();
    }
  }
</script>
