<!DOCTYPE html>
<html>
<head>
  <title>SampaDashboard</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>
  <script>
    csrfToken = "<%= form_authenticity_token.to_s %>";
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/nav_side_menu' if current_user %>
</header>

<main id='main' style="<%= 'margin-left: 200px' if current_user %>">
  <%= yield %>
</main>

</body>
</html>
